<nav
  class="navbar navbar-expand-lg navbar-dark custom-bg-dark-gradient z-index-3 py-3" id="main-nav">
  <div class="container">
    <a class="navbar-brand text-white" href="" rel="tooltip" title="Designed and Coded by Creative Tim" data-placement="bottom" target="_blank">
      CRM Dashboard
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navigation">
      <ul class="navbar-nav navbar-nav-hover ms-auto">
        <div class="row">
          <div class="col-auto m-auto">
            <a class="text-white cursor-pointer">
              <i class="fa fa-cog fixed-plugin-button-nav"></i>
            </a>
          </div>
          <div class="col-auto m-auto">
            <div class="dropdown">
              <a class="text-white cursor-pointer" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-bell"></i>
              </a>
              <ul class="dropdown-menu dropdown-menu-right px-2 py-3 ms-n4" aria-labelledby="dropdownMenuButton">
                ...
              </ul>
            </div>
          </div>
          <div class="col-auto">
            <div class="custom-bg-dark-gradient border-radius-lg d-flex me-2 border-2 border-primary">
              <input type="text" id="search-page" class="form-control form-control-sm color-background custom-bg-dark-gradient ubuntu-bold text-white border-primary bg-dark ps-3" placeholder="Type here...">
              <button class="btn bg-gradient-primary m-0">Search</button>
            </div>
          </div>
        </div>
      </ul>
    </div>
  </div>
</nav>
