<section id="user-detail-section" >
  <div class="container-fluid p-4">
    <div class="row">
      <div class="col-12 col-md-7">
        <div class="card shadow-lg custom-bg-dark-gradient">
          <div class="card-body p-3" *ngIf="userImageUrl">
            <img [src]="userImageUrl" alt="{{user?.email}}"
                 (load)="onImageLoad($event)"
                 [height]="imageHeight"
                 [width]="imageWidth"
                 [style]="{'width':'imageWidth', 'height': 'imageHeight', 'max-width':'maxDisplayWidth', 'max-height':'maxDisplayHeight'}"
                 class="">
          </div>
        </div>
      </div>
      <div class="col-12 col-md-5">
        <div class="card shadow-lg custom-bg-dark-gradient">
          <div class="card-body p-3">
            <div class="row">
              <div class="col-12">
                <h3 class="text-gradient text-primary ubuntu-bold">Description</h3>
                <div *ngIf="user?.description ?? 'There is no description set up yet'" [innerHTML]="user?.description ?? 'There is no description set up yet' | safeHtml"></div>
              </div>
            </div>
            <hr class="horizontal custom-rainbow-blue-gradient">
            <div class="row">
              <div class="col-12">
                <div>
                  <p>
                    <button type="button" class="btn custom-violet-gradient d-block btn-block w-100 text-lg p-2" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                      <span class="ubuntu-bold text-white">Conversations</span>
                    </button>
                  </p>
                  <div class="collapse" id="collapseExample">
                    <div class="card card-body custom-bg-dark-gradient">
                      <div *ngFor="let convo of conversations" class="custom-bg-dark-gradient">
                        <div class="p-2 mt-1 border-radius-sm custom-bg-dark">
                          <h4 class="ubuntu-bold " style="color: dodgerblue;">
                            <a routerLink="/communication/user/{{user?.id}}" style="color: dodgerblue;">{{convo?.title}}</a>
                          </h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-7">
        <div class="card shadow-xl custom-bg-dark-gradient">
          <div class="card-body p-3">
            <h3 class="text-gradient text-primary ubuntu-bold">Name</h3>
            <h4 class="text-white inter-bold">{{user?.name}}</h4>
            <h3 class="text-gradient text-primary ubuntu-bold">Username</h3>
            <p class="text-white inter-bold">{{user?.userName}}</p>
            <h3 class="text-gradient text-primary ubuntu-bold">Email</h3>
            <p class="text-white inter-bold">{{user?.email}}</p>
            <h3 class="text-gradient text-primary ubuntu-bold">Address</h3>
            <p class="lead inter-bold text-white text-truncate">
              {{user?.address}}, {{user?.city}}, {{user?.state}}, {{user?.zipCode}}.
            </p>
            <div *ngIf="user?.userRoles">
            <p class="ubuntu-bold text-gradient text-success lead" *ngIf="user?.userRoles">Roles</p>
            <span class="lead inter-bold text-white" *ngFor="let role of user?.userRoles; let last = last">
                {{ role.role.name }}<span *ngIf="!last"> | </span>
            </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-5">
        <div class="card shadow-xl custom-bg-dark-gradient">
          <div class="card-body p-3">
            <h4 class="text-primary text-gradient ubuntu-bold">Assigned Jobs</h4>
            <div *ngFor="let job of user?.assignedJobs">
              <p class="text-white inter-bold">Title: {{job?.title}} </p>
              <p class="text-white inter-bold">Status: {{job?.status}}</p>
              <hr/>
            </div>
            <hr/>
            <h4 class="text-primary text-gradient ubuntu-bold">Created Jobs</h4>
              <div *ngFor="let job of user?.createdJobs">
                <div *ngIf="job?.createdByUserId === user?.id">
                <p class="text-white inter-normal">Title: {{job?.title}} </p>
                <p class="text-white inter-normal">Status: {{job?.status}}</p>
                <hr/>
              </div>
              </div>
            <hr/>
            <h4 class="text-primary text-gradient ubuntu-bold">Contacts</h4>
            <div *ngFor="let contact of user?.contacts">
              <p class="text-white inter-normal">Name: {{contact?.firstName}} {{contact?.lastName}} </p>
              <p class="text-white inter-normal">Phone Number: {{contact?.phoneNumber}}</p>
              <hr class="card-horizontal horizontal">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
