<app-main-nav></app-main-nav>
<!--<div class="d-flex">-->

<!--  &lt;!&ndash; Sidebar &ndash;&gt;
  <div [ngClass]="{'sidenav-collapsed': !isExpanded, 'sidenav-expanded': isExpanded}" class="sidenav custom-bg-dark-gradient-120deg inter-bold text-white">
    <button class="btn btn-sm btn-outline-light m-2 py-1 px-2" (click)="toggleSidebar()">
      <i class="bi bi-list"></i> &lt;!&ndash; Bootstrap icon &ndash;&gt;
    </button>

&lt;!&ndash;    <ul class="nav flex-column">
      <li class="nav-item" *ngFor="let item of menuItems">
        <a class="nav-link text-white d-flex align-items-center" routerLink="">
          <i [class]="item.icon"></i>
          <span *ngIf="isExpanded" class="ms-2">{{ item.label }}</span>
        </a>
      </li>
    </ul>&ndash;&gt;

    <ng-container *ngFor="let item of filteredMenuItems">
<ul class="nav flex-column">
      &lt;!&ndash; Simple link (no dropdown) &ndash;&gt;
      <li *ngIf="!item.children" class="list-none">
        <a class="nav-link" [routerLink]="dropdowns[item.key].path" routerLinkActive="active">
          <i class="{{ item.icon }} me-2"></i> <span *ngIf="isExpanded" class="ms-2">{{ item.label }}</span>
        </a>
      </li>

      &lt;!&ndash; Dropdown link &ndash;&gt;
      <li *ngIf="item.children" class="list-none">
        <a class="text-white nav-link d-flex justify-content-between align-items-center list-none" (click)="toggleDropdown(item.key)">
          <span><i class="{{ item.icon }} me-2"></i> <span *ngIf="isExpanded" class="ms-2">{{ item.label }}</span></span>
          <i [ngClass]="{'bi-chevron-down': !dropdowns[item.key], 'bi-chevron-up': dropdowns[item.key]}" class="bi text-gradient text-warning" *ngIf="(((isExpanded === true) && (dropdowns[item.key]) ? 'bi-chevron-up' : '') || ((isExpanded === true) && !(dropdowns[item.key])) ? 'bi-chevron-down' : '')"></i>
        </a>
        <ul class="nav flex-column ps-4 list-none" *ngIf="dropdowns[item.key]">
          <li *ngFor="let child of item.children" class="list-none">
            <a class="nav-link list-none" [routerLink]="child.path" routerLinkActive="active">
              <span *ngIf="isExpanded" class="ms-2 text-gradient text-warning">{{ child.label }}</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
    </ng-container>
  </div>-->


<!--</div>-->
<div class="d-flex position-relative" (click)="closeSubmenu()">


  <!-- Main Sidenav -->
  <div
    class="main-sidenav custom-bg-dark-gradient p-3"
    [class.collapsed]="collapsed"
    (click)="$event.stopPropagation()"
  >
    <ng-container *ngIf="isUserLoggedIn(); else guestView">
      <img [src]="userImageUrl" class="rounded-circle mb-2" width="70" height="70" alt="{{fullUser?.name}}'s Image" />
      <h6 class="mb-0 text-gradient text-primary p-2 ubuntu-bold">{{ getInitials(fullUser?.name) }}</h6>
      <hr class="custom-instagram-gradient"/>
    </ng-container>
    <ng-template #guestView>
      <img [src]="defaultPhoto" alt="Guest User" class="rounded-circle mb-2" height="70" width="70">
      <h6 class="mb-5 text-gradient text-primary ubuntu-bold p-2">Guest</h6>
      <hr class="custom-instagram-gradient"/>
    </ng-template>

    <ul class="list-unstyled">
      <li
        *ngFor="let item of filteredMenuItems"
        (click)="openSubmenu(item)"
        class="mb-2 cursor-pointer d-flex align-items-center text-white"
        [title]="collapsed ? item.label : ''"
      >
        <i [class]="item.icon" class="text-3xl mx-auto"></i>
      </li>
    </ul>
  </div>

  <!-- Sub Sidenav (same as before) -->
  <div
    class="sub-sidenav custom-bg-dark-gradient text-white p-3"
    *ngIf="selectedItem"
    (click)="$event.stopPropagation()"
  >
    <h5 class="gradient-text-instagram inter-bold ms-3">{{ selectedItem.label }}</h5>
    <hr class="custom-instagram-gradient c-p-1 m-0"/>
    <ul class="list-unstyled">
      <li *ngFor="let child of selectedItem?.children" class="side-nav-menu-item">
        <a [routerLink]="child.path" class="text-white text-decoration-none">
          <i [class]="child.icon" class="text-2xl ms-3 me-2"></i> &nbsp; {{ child.label }}
        </a>
      </li>
    </ul>
  </div>

  <!-- Main Content -->
  <div class="flex-grow-1 p-4">
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </div>

</div>
